//@use '@carbon/react';
@use '@carbon/react' with (
    $use-flexbox-grid: true
);

@use './components/NavHeader/nav-header';
@use './components/PrintDialog/print-dialog';

.cds--content {
    margin-top: 3rem;
    margin-left: 0rem;
  }